# Assignment 1: Data Parsing, Cleansing and Integration
## Task 3
#### Student Name: Sukhum Boondecharak
#### Student ID: 3940976

Date: 28 Aug 2023

Version: 1.0

Environment: Python 3 and Jupyter notebook

Libraries used: please include the main libraries you used in your assignment, e.g.,:
* pandas
* re
* numpy


## Introduction
Give general information of this assessment here, e.g., what problems you encounter in integration, general steps and solutions you've taken to integrate the data. 

<span style="color: red"> Note that this is a sample notebook only. You will need to fill in the proper markdown and code blocks. You might also want to make necessary changes to the structure to meet your own needs. Note also that any generic comments written in this notebook are to be removed and replace with your own words.</span>

##  Import libraries

In [1]:
# Code to import libraries as you need in this assessment

import pandas as pd 
import numpy as np
import random

### 1. Examining and loading data
Examine "\<student\_id\>_dataset2.csv" the structure and schema.

In [2]:
# Code to inspect the provided data file
# Couple of notes for all code block in this notebook
## please provide proper comment on your code
## Please re-start and run all cells to make sure codes are runable and include your output in the submission

df_dataset_1 = pd.read_csv("s3940976_dataset1_solution.csv")
df_dataset_2 = pd.read_csv("s3940976_dataset2.csv")
df_dataset_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Monthly Payment             5000 non-null   float64
 1   Closing                     5000 non-null   object
 2   Organisation                4514 non-null   object
 3   Location                    5000 non-null   object
 4   Category                    5000 non-null   object
 5   Full-Time Equivalent (FTE)  5000 non-null   float64
 6   Opening                     5000 non-null   object
 7   Job Title                   5000 non-null   object
 8   Type                        3580 non-null   object
dtypes: float64(2), object(7)
memory usage: 351.7+ KB

### 2. Resolving schema conflicts
Give some general information about the conflicts you found in two schemas and steps you taken to resolve them.

<span style="color: red"> You might have complex notebook structure in this section, please feel free to create your own notebook structure. </span>

#### Conflict 1: Naming conflicts in Title, Company, ContractType, ContractTime, Category, Salary, OpenDate, CloseDateHere

In [3]:
# Code to inspect data and identify conflicts in schema

df_dataset_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50753 entries, 0 to 50752
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            50753 non-null  int64
 1   Title         50753 non-null  object
 2   Location      50753 non-null  object
 3   Company       50753 non-null  object
 4   ContractType  50753 non-null  object
 5   ContractTime  50753 non-null  object
 6   Category      50753 non-null  object
 7   Salary        50753 non-null  float64
 8   OpenDate      50753 non-null  object
 9   CloseDate     50753 non-null  object
 10  SourceName    50753 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 4.3+ MB

Tell me about how you fix the conflict here

In [4]:
# Code to fix the conflict

title_map = {
    'Monthly Payment':'Salary', 
    'Closing':'CloseDate',
    'Organisation':'Company',
    'Full-Time Equivalent (FTE)':'ContractType',
    'Opening':'OpenDate',
    'Job Title':'Title',
    'Type': 'ContractTime'
}

df_dataset_2.rename(title_map, axis=1, inplace = True)
df_dataset_2

,Salary,CloseDate,Company,Location,Category,ContractType,OpenDate,Title,ContractTime
0,1200.00,2012-12-27 12:00:00,Protocol Education,UK,Education,0.8,2012-11-27 12:00:00,Higher Level Teaching Assistant (HLTA),NaN
1,3125.00,2013-08-25 15:00:00,Cordius Ltd,UK,Information Technology,1.0,2013-06-26 15:00:00,Software Developers / Software Architects Not...,Permanent
2,4333.33,2013-01-16 15:00:00,Understanding Recruitment,Walton-On-Thames,Information Technology,1.0,2012-10-18 15:00:00,Senior BI Consultant (Cognos),Permanent
3,3750.00,2013-02-13 15:00:00,Wallace Hind Selection,UK,Sales,1.0,2012-12-15 15:00:00,"Technical Sales Manager, Pigments Fillers to S...",NaN
4,2916.67,2013-01-12 12:00:00,Greenhill Group Ltd,Eastern England,Sales,1.0,2012-12-29 12:00:00,Channel Account Manager Software,NaN
...,...,...,...,...,...,...,...,...,...
4995,5833.33,2013-03-31 00:00:00,Jonathan Lee Recruitment Ltd,London,Finance,1.0,2013-01-30 00:00:00,Head of Regulatory Policy,Permanent
4996,5000.00,2012-08-27 12:00:00,Impact 360,Berkshire,Information Technology,1.0,2012-06-28 12:00:00,Android Developer eMarkets and eCommerce Ber...,Permanent
4997,2833.33,2013-07-23 00:00:00,Aspire Data Recruitment,London,Finance,1.0,2013-04-24 00:00:00,SAS Senior Collections Recoveries Analyst,Permanent
4998,4791.67,2012-12-18 15:00:00,Annapurna HR Ltd,London,Information Technology,1.0,2012-11-18 15:00:00,Lead PHP Magento Developer London ****k,Permanent
4999,3541.67,2013-10-20 12:00:00,Parallel Consulting Limited,Surrey,Information Technology,1.0,2013-08-21 12:00:00,"Linux (CentOS), Puppet, SVN, LAMP , Systems Ad...",Permanent

#### Conflict 2: Missing Columns Id and SourceName

In [5]:
# Code to inspect data and identify conflicts in schema

df_dataset_1.info()
df_dataset_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50753 entries, 0 to 50752
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            50753 non-null  int64
 1   Title         50753 non-null  object
 2   Location      50753 non-null  object
 3   Company       50753 non-null  object
 4   ContractType  50753 non-null  object
 5   ContractTime  50753 non-null  object
 6   Category      50753 non-null  object
 7   Salary        50753 non-null  float64
 8   OpenDate      50753 non-null  object
 9   CloseDate     50753 non-null  object
 10  SourceName    50753 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 4.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Salary        5000 non-null   float64
 1   CloseDate     5000 non-null   object
 2   Company       4514 non-null   object
 3   Location      5000 non-null   object
 4   Category      5000 non-null   object
 5   ContractType  5000 non-null   float64
 6   OpenDate      5000 non-null   object
 7   Title         5000 non-null   object
 8   ContractTime  3580 non-null   object
dtypes: float64(2), object(7)
memory usage: 351.7+ KB

In [6]:
# Code to fix the conflict

# Create a function to random id
# But have to check if it has not existed in data set 1

def random_id(list_1, list_2):
    while True:
        random_val = random.randint(10000000, 99999999)
        if random_val not in list_1 and random_val not in list_1:
            return random_val

# Create missing columns

df_dataset_2['Id'] = None
df_dataset_2['SourceName'] = 'www.jobhuntlisting.com'

# Parse new id to dataset 2 without duplicates

dataset_1_id_list = df_dataset_1['Id'].tolist()
for new_id in df_dataset_2.index:
    df_dataset_2.loc[new_id, 'Id'] = random_id(dataset_1_id_list, df_dataset_2[~df_dataset_2['Id'].isna()]['Id'].tolist())

df_dataset_2['Id']

0       81640206
1       18181397
2       54591726
3       18015147
4       98927761
          ...
4995    47462915
4996    39509792
4997    31955628
4998    32521680
4999    97990977
Name: Id, Length: 5000, dtype: object

In [7]:
df_dataset_2['SourceName']

0       www.jobhuntlisting.com
1       www.jobhuntlisting.com
2       www.jobhuntlisting.com
3       www.jobhuntlisting.com
4       www.jobhuntlisting.com
                 ...
4995    www.jobhuntlisting.com
4996    www.jobhuntlisting.com
4997    www.jobhuntlisting.com
4998    www.jobhuntlisting.com
4999    www.jobhuntlisting.com
Name: SourceName, Length: 5000, dtype: object

#### Conflict 3: Columns from 2 data sets are not aligned

In [8]:
# Code to inspect data and identify conflicts in schema

df_dataset_1.dtypes

Id                int64
Title            object
Location         object
Company          object
ContractType     object
ContractTime     object
Category         object
Salary          float64
OpenDate         object
CloseDate        object
SourceName       object
dtype: object

In [9]:
df_dataset_2.dtypes

Salary          float64
CloseDate        object
Company          object
Location         object
Category         object
ContractType    float64
OpenDate         object
Title            object
ContractTime     object
Id               object
SourceName       object
dtype: object

In [10]:
# Code to fix the conflict

# Align column in data set 2 according to data set 1

column_names = ['Id', 'Title', 'Location', 'Company', 'ContractType', 'ContractTime', 'Category', 'Salary', 'OpenDate', 'CloseDate', 'SourceName']
df_dataset_2 = df_dataset_2.reindex(columns=column_names)

df_dataset_1.dtypes

Id                int64
Title            object
Location         object
Company          object
ContractType     object
ContractTime     object
Category         object
Salary          float64
OpenDate         object
CloseDate        object
SourceName       object
dtype: object

In [11]:
df_dataset_2.dtypes

Id               object
Title            object
Location         object
Company          object
ContractType    float64
ContractTime     object
Category         object
Salary          float64
OpenDate         object
CloseDate        object
SourceName       object
dtype: object

### 3. Merging data

<span style="color: red"> You might have complex notebook structure in this section, please feel free to create your own notebook structure. </span>

In [12]:
# Code to merge two data sets

df = pd.concat([df_dataset_1, df_dataset_2])
df

,Id,Title,Location,Company,ContractType,ContractTime,Category,Salary,OpenDate,CloseDate,SourceName
0,67751856,Embedded Software Engineer Up to **** nr Gui...,Guildford,Computer Futures,non-specified,non-specified,IT Jobs,37500.00,2013-11-19 15:00:00,2014-01-18 15:00:00,gojobsearch.co.uk
1,70343285,CNC / Engineering Machinist,Leicester,Encore Personnel,non-specified,non-specified,Engineering Jobs,21600.00,2012-12-21 12:00:00,2013-01-04 12:00:00,gojobsearch.co.uk
2,71224993,Talented Data Insight Analyst required c ****,Nottingham,Intelect,non-specified,non-specified,"PR, Advertising & Marketing Jobs",26000.00,2013-08-15 15:00:00,2013-10-14 15:00:00,gojobsearch.co.uk
3,71900631,****x Net Developers Bristol ****,Bristol,Computer Futures,non-specified,non-specified,IT Jobs,32500.00,2012-10-29 00:00:00,2012-11-12 00:00:00,gojobsearch.co.uk
4,69690907,Launch Leader / PMST Leader,Warwickshire,ARM,non-specified,non-specified,Engineering Jobs,59520.00,2013-08-23 12:00:00,2013-09-22 12:00:00,gojobsearch.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
4995,47462915,Head of Regulatory Policy,London,Jonathan Lee Recruitment Ltd,1.0,Permanent,Finance,5833.33,2013-01-30 00:00:00,2013-03-31 00:00:00,www.jobhuntlisting.com
4996,39509792,Android Developer eMarkets and eCommerce Ber...,Berkshire,Impact 360,1.0,Permanent,Information Technology,5000.00,2012-06-28 12:00:00,2012-08-27 12:00:00,www.jobhuntlisting.com
4997,31955628,SAS Senior Collections Recoveries Analyst,London,Aspire Data Recruitment,1.0,Permanent,Finance,2833.33,2013-04-24 00:00:00,2013-07-23 00:00:00,www.jobhuntlisting.com
4998,32521680,Lead PHP Magento Developer London ****k,London,Annapurna HR Ltd,1.0,Permanent,Information Technology,4791.67,2012-11-18 15:00:00,2012-12-18 15:00:00,www.jobhuntlisting.com
4999,97990977,"Linux (CentOS), Puppet, SVN, LAMP , Systems Ad...",Surrey,Parallel Consulting Limited,1.0,Permanent,Information Technology,3541.67,2013-08-21 12:00:00,2013-10-20 12:00:00,www.jobhuntlisting.com

### 4. Resolving data conflicts:
Give some general information about the data conflicts you found in the unified table and how you resolve them.

<span style="color: red"> You might have complex notebook structure in this section, please feel free to create your own notebook structure. </span>

#### Conflict 1: Salary from new data frame seems to be monthly

In [13]:
# Code to inspect data and identify conflicts in data

df.reset_index(drop=True, inplace=True)
id_set2 = df[df['SourceName'] == 'www.jobhuntlisting.com'].index

df.loc[id_set2, 'Salary']

50753    1200.00
50754    3125.00
50755    4333.33
50756    3750.00
50757    2916.67
          ...
55748    5833.33
55749    5000.00
55750    2833.33
55751    4791.67
55752    3541.67
Name: Salary, Length: 5000, dtype: float64

Tell me about how you fix the conflict here

In [14]:
# Code to fix the conflict

df.loc[id_set2, 'Salary'] = df.loc[id_set2, 'Salary'] * 12
df.loc[id_set2, 'Salary']

50753    14400.00
50754    37500.00
50755    51999.96
50756    45000.00
50757    35000.04
           ...
55748    69999.96
55749    60000.00
55750    33999.96
55751    57500.04
55752    42500.04
Name: Salary, Length: 5000, dtype: float64

#### Conflict 2: Unmatched categories

In [15]:
# Code to inspect data and identify conflicts in data

print(df[df['SourceName'] == 'www.jobhuntlisting.com']['Category'].value_counts())
print(df[df['SourceName'] != 'www.jobhuntlisting.com']['Category'].value_counts())

Information Technology    1317
Health                     789
Engineering                744
Finance                    668
Sales                      498
Hospitality                399
Education                  326
Marketing                  259
Name: Category, dtype: int64
IT Jobs                             13118
Healthcare & Nursing Jobs            8071
Engineering Jobs                     7523
Accounting & Finance Jobs            6781
Sales Jobs                           4879
Hospitality & Catering Jobs          4400
Teaching Jobs                        3469
PR, Advertising & Marketing Jobs     2512
Name: Category, dtype: int64

In [16]:
# Code to fix the conflict

# Match the names of category according to data set 1

category_map = {
    'Information Technology':'IT Jobs',
    'Health':'Healthcare & Nursing Jobs',
    'Engineering':'Engineering Jobs',
    'Finance':'Accounting & Finance Jobs',
    'Sales':'Sales Jobs',
    'Hospitality':'Hospitality & Catering Jobs',
    'Education':'Teaching Jobs',
    'Marketing':'PR, Advertising & Marketing Jobs'
}
for cat in category_map.keys():
    cat_id = df[df['Category'] == cat].index
    df.loc[cat_id, 'Category'] = category_map[cat]
    
print(df[df['SourceName'] == 'www.jobhuntlisting.com']['Category'].value_counts())
print(df[df['SourceName'] != 'www.jobhuntlisting.com']['Category'].value_counts())

IT Jobs                             1317
Healthcare & Nursing Jobs            789
Engineering Jobs                     744
Accounting & Finance Jobs            668
Sales Jobs                           498
Hospitality & Catering Jobs          399
Teaching Jobs                        326
PR, Advertising & Marketing Jobs     259
Name: Category, dtype: int64
IT Jobs                             13118
Healthcare & Nursing Jobs            8071
Engineering Jobs                     7523
Accounting & Finance Jobs            6781
Sales Jobs                           4879
Hospitality & Catering Jobs          4400
Teaching Jobs                        3469
PR, Advertising & Marketing Jobs     2512
Name: Category, dtype: int64

#### Conflict 3: Unmatched ContractTimes

In [17]:
# Code to inspect data and identify conflicts in data

print(df[df['SourceName'] == 'www.jobhuntlisting.com']['ContractTime'].value_counts())
print(df[df['SourceName'] != 'www.jobhuntlisting.com']['ContractTime'].value_counts())

Permanent              3040
Fixed Term Contract     540
Name: ContractTime, dtype: int64
permanent        31024
non-specified    14101
contract          5628
Name: ContractTime, dtype: int64

In [18]:
# Code to fix the conflict

# Match the names of contactTime according to data set 1

contract_time_map = {'Permanent':'permanent', 'Fixed Term Contract':'contract'}
contract_time_list = ['permanent', 'contract', 'non-specified']
for contime in contract_time_map.keys():
    contime_id = df[df['ContractTime'] == contime].index
    df.loc[contime_id, 'ContractTime'] = contract_time_map[contime]

print(df[df['SourceName'] == 'www.jobhuntlisting.com']['ContractTime'].value_counts())
print(df[df['SourceName'] != 'www.jobhuntlisting.com']['ContractTime'].value_counts())

permanent    3040
contract      540
Name: ContractTime, dtype: int64
permanent        31024
non-specified    14101
contract          5628
Name: ContractTime, dtype: int64

#### Conflict 4: Unmatched ContractTypes

In [19]:
# Code to inspect data and identify conflicts in data

print(df[df['SourceName'] == 'www.jobhuntlisting.com']['ContractType'].value_counts())
print(df[df['SourceName'] != 'www.jobhuntlisting.com']['ContractType'].value_counts())

1.0    4834
0.4      47
0.8      41
0.6      39
0.2      39
Name: ContractType, dtype: int64
non-specified    38082
full_time        11250
part_time         1421
Name: ContractType, dtype: int64

In [20]:
# Code to fix the conflict

# Match the names of contactType according to data set 1

contract_type_map = {1.0:'full_time', 0.2:'part_time', 0.4:'part_time', 0.6:'part_time', 0.8:'part_time'}
contract_type_list = ['full_time', 'part_time', 'non-specified']
for contype in contract_type_map.keys():
    contype_id = df[df['ContractType'] == contype].index
    df.loc[contype_id, 'ContractType'] = contract_type_map[contype]

# df[df['ContractType'] == 0.2].index
# df['ContractType'] = df['ContractType'].apply(lambda x: x if x in contract_type_list else 'non-specified')

print(df[df['SourceName'] == 'www.jobhuntlisting.com']['ContractType'].value_counts())
print(df[df['SourceName'] != 'www.jobhuntlisting.com']['ContractType'].value_counts())

full_time    4834
part_time     166
Name: ContractType, dtype: int64
non-specified    38082
full_time        11250
part_time         1421
Name: ContractType, dtype: int64

......

#### Finding global key for the data
Find a proper global key for the integrated data and give justification here.

In [21]:
# Code to identify global key

.......

#### Conflict 2: XXXX (e.g., other duplications)
Here give some general information about this conflict.

### 5. Saving the integrated and reshaped data
The last part of the integration process is to export our output data to csv format, named as:
- '\<student\_id\>_dataset_integrated.csv'

In [22]:
# code to save output data

df.to_csv('s3940976_dataset_integrated.csv', index = False)

## Summary of the Assessment Task

This part is more comfortable. But as time is running out, I could also do the best I could.